/* 
    Created on : Oct 9, 2017, 3:01:40 PM
    Author     : Diego
*/
.menu.is-dark {
    background-color: #363636;
    color: whitesmoke;
}
.menu.is-dark .menu-list a {
    color: #f2f2f2;
}

.is-dark .menu-list a {
    border-radius: 0;
}

.is-dark .menu-list a:hover {
    background-color: #2f2f2f;
    color: whitesmoke;
}

.is-dark .menu-list a.is-active {
    background-color: #2f2f2f;
    color: whitesmoke;
    border-right: 2px solid whitesmoke ;
}

.tooltip {
    display: inline;
    visibility: hidden;
    margin-left: 8px;
    position: absolute;
    z-index: 1;
}

.fieldset {
    padding: 12px 5px;
    margin-bottom: 12px;
}

.has-tooltip:hover .tooltip {
    visibility: visible;
}

.delete-action {
    display: inline;
}

@media screen and (max-width: 1023px) {
  .menu-logo {
    display: block !important;
  }
}

@media screen and (max-width: 1023px) {
  .menu-logo {
    margin: 6px 2px 2px;
  }
}

@media screen and (min-width: 1024px) {
  .menu-logo {
    margin: 12px 24px;
  }  
}

.list-block {
    /*margin-top: 1rem;*/
    padding-top: 2.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.list-block:not(:last-child) {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #d7d7d7;
}

.list-block > .delete {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.nested-show {
    margin-left: 30px;
    margin-top: 15px;
}